body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #7D5A5A;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;  /* or % or px  */

}

h2 {
  color: #E9B2BC;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #E9B2BC;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #fff1f4;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.controller-img {
  float: left;
  margin-right: 30px;
}

.burger-img {
  float: right;
  margin-left: 30px;
}
